body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.roomDiv {
    width: 99%;
    display: flex;
    justify-content: center;
    background-color: rgb(65, 112, 243);
    padding: 5px;
    font-weight: bold;

}

.msg-leavebtn {
    background-color: rgb(65, 112, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.messageDiv {
    margin: 5px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid transparent;
}

.btn {
    padding: 10px;
    border: 1px solid transparent;
    background-color: rgb(18, 179, 179);
    color: white;
    border-radius: 10px;
}

.chat-container {
    background-color: rgb(211, 238, 238);
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
    height: 700px;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px groove;

}

#someone {
    display: flex;
    justify-content: start;
    margin: 5px;
}

#you {
    display: flex;
    justify-content: end;
    margin: 5px;
}

.chat-message-box {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

@media (max-width : 375px) {
    .msg-leavebtn {
        display: flex;
        flex-direction: column;
    }

    .inputBox {
        padding: 5px;
    }


    .roomDiv {
        /* height: 100px; */
        /* display: flex;
        justify-content: center; */
    }

    .messageDiv {
        /* width: 50px; */
    }
}